div{
    font-size:20px;
    p{
        color: #666;
        border: 10px solid rgb(205, 99, 50);
    }
    ul{
        color:orangered;
        font-size:22px;

    }
}

div{
    font-size:20px;
    p{
        color: rgb(143, 24, 24);
        border: 10px solid rgb(46, 133, 12);
    }
    ul{
        color:rgb(4, 0, 255);
        font-size:22px;

    }
}